.separador {
  position: relative;
  width: 100%;
  height: 30rem;
  background: url(./../../../assets/img//Cabeceras/cab3.jpeg);
  background-attachment: fixed;
  background-size: cover;
  transition: 0.3s ease-in-out all;
  -moz-transition: 0.3s ease-in-out all;
}
.redSpark {
  position: absolute;
  width: 100%;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}

/* @media only screen and (max-width: 1024px) {
  .separador {
    height: 16rem;
  }
}  */

@media only screen and (max-width: 800px) {
  .separador {
    height: 18rem;
  }
}

@media only screen and (max-width: 560px) {
  .separador {
    height: 17rem;
  }

  @media only screen and (max-width: 410px) {
    .separador {
      height: 10rem;
    }
  }
}
