.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.holder {
  max-width: 1380px;
  width: 100%;
  margin: auto;
}

.padding1 {
 padding: 1%;
}


.padding2 {
  padding: 2%;
}


.padding3 {
  padding: 3%;
}



.col1 {
  width: 8.33%;

}
.col2 {
  width: 16.66%;

}
.col3 {
  width: 25%;

}
.col4 {
  width: 33.33%;

}
.col5 {
  width: 41.66%;

}
.col6 {
  width: 50%;

}
.col7 {
  width: 58.33%;

}
.col8 {
  width: 66.66%;

}
.col9 {
  width: 75%;

}
.col10 {
  width: 83.33%;

}
.col11 {
  width: 91.66%;

}
.col12 {
  width: 100%;

}
/***********************************************************/
/**********************      1024PX   ***********************/
/***********************************************************/
@media only screen and (max-width: 1024px) {
  .holder {
    width: 99%;
    margin: auto;
  }
}
/***********************************************************/
/**********************      800PX   ***********************/
/***********************************************************/
@media only screen and (max-width: 800px) {
  .col1 {
    width: 100%;
  }
  .col2 {
    width: 100%;
  }
  .col3 {
    width: 100%;
  }
  .col4 {
    width: 100%;
  }
  .col5 {
    width: 100%;
  }
  .col6 {
    width: 100%;
  }
  .col7 {
    width: 100%;
  }
  .col8 {
    width: 100%;
  }
  .col9 {
    width: 100%;
  }
  .col10 {
    width: 100%;
  }
  .col11 {
    width: 100%;
  }
  .col12 {
    width: 100%;
  }
}

/***********************************************************/
/**********************      480PX   ***********************/
/***********************************************************/
@media only screen and (max-width: 480px) {
}
