
.icon-agregarbolsa:before { content: '\e800'; } /* '' */
.icon-ayuda:before { content: '\e801'; } /* '' */
.icon-bolsacompra:before { content: '\e802'; } /* '' */
.icon-buscar:before { content: '\e803'; } /* '' */
.icon-pagar:before { content: '\e804'; } /* '' */
.icon-telefono:before { content: '\e805'; } /* '' */
.icon-usuario:before { content: '\e806'; } /* '' */
.icon-verdetalles:before { content: '\e807'; } /* '' */
.icon-emo-happy:before { content: '\e808'; } /* '' */
.icon-emo-unhappy:before { content: '\e809'; } /* '' */
.icon-heart-empty:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e80b'; } /* '' */
.icon-star-empty:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e80d'; } /* '' */
.icon-email:before { content: '\e80e'; } /* '' */
.icon-facebook:before { content: '\e80f'; } /* '' */
.icon-libro:before { content: '\e810'; } /* '' */
.icon-chat:before { content: '\e811'; } /* '' */
.icon-twitter:before { content: '\e812'; } /* '' */
.icon-linkedin:before { content: '\e813'; } /* '' */
.icon-right:before { content: '\e814'; } /* '' */
.icon-left:before { content: '\e815'; } /* '' */
.icon-cancel:before { content: '\e816'; } /* '' */
.icon-link:before { content: '\e817'; } /* '' */
.icon-camera:before { content: '\e818'; } /* '' */
.icon-videocam:before { content: '\e819'; } /* '' */
.icon-basket:before { content: '\e81a'; } /* '' */
.icon-shuffle:before { content: '\e81b'; } /* '' */
.icon-gift:before { content: '\e81c'; } /* '' */
.icon-arrowcircle:before { content: '\e81d'; } /* '' */
.icon-bag:before { content: '\e81e'; } /* '' */
.icon-comment-white-oval-bubble:before { content: '\e81f'; } /* '' */
.icon-delivery-truck:before { content: '\e820'; } /* '' */
.icon-locked:before { content: '\e821'; } /* '' */
.icon-registrada:before { content: '\e822'; } /* '' */
.icon-shoping:before { content: '\e823'; } /* '' */
.icon-truck:before { content: '\e824'; } /* '' */
.icon-warranty:before { content: '\e825'; } /* '' */
.icon-trash-empty:before { content: '\e826'; } /* '' */
.icon-ok:before { content: '\e827'; } /* '' */
.icon-logo:before { content: '\e828'; } /* '' */
.icon-salir:before { content: '\e829'; } /* '' */
.icon-print:before { content: '\e82a'; } /* '' */
.icon-logout:before { content: '\e82b'; } /* '' */
.icon-ruleta:before { content: '\e82c'; } /* '' */
.icon-videocamara:before { content: '\e82d'; } /* '' */
.icon-comprasegura:before { content: '\e82e'; } /* '' */
.icon-paquete:before { content: '\e82f'; } /* '' */
.icon-cajaregalo:before { content: '\e830'; } /* '' */
.icon-garantia:before { content: '\e831'; } /* '' */
.icon-envio-rapido:before { content: '\e832'; } /* '' */
.icon-envio:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-flechaabajo:before { content: '\e834'; } /* '' */
.icon-pdf:before { content: '\e835'; } /* '' */
.icon-bizum:before { content: '\e836'; } /* '' */
.icon-paypal:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-todotecperu:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-map:before { content: '\e839'; } /* '' */
.icon-diners:before { content: '\e83a'; } /* '' */
.icon-unionpay:before { content: '\e83b'; } /* '' */
.icon-jbc:before { content: '\e83c'; } /* '' */
.icon-visa:before { content: '\e83d'; } /* '' */
.icon-amex:before { content: '\e83e'; } /* '' */
.icon-mastercard-1:before { content: '\e83f'; } /* '' */
.icon-tienda3:before { content: '\e840'; } /* '' */
.icon-tienda2:before { content: '\e841'; } /* '' */
.icon-tienda:before { content: '\e842'; } /* '' */
.icon-regalo:before { content: '\e843'; } /* '' */
.icon-whatsapp:before { content: '\e844'; } /* '' */
.icon-perfil:before { content: '\e845'; } /* '' */
.icon-world:before { content: '\e846'; } /* '' */
.icon-instagramnormal:before { content: '\e847'; } /* '' */
.icon-mesenger:before { content: '\e848'; } /* '' */
.icon-tiktok:before { content: '\e849'; } /* '' */
.icon-whatsappnormal:before { content: '\e84a'; } /* '' */
.icon-ubicacion:before { content: '\e84b'; } /* '' */
.icon-control-calidad:before { content: '\e84c'; } /* '' */
.icon-tuboensayo:before { content: '\e84d'; } /* '' */
.icon-cajaproducto:before { content: '\e84e'; } /* '' */
.icon-frasco2:before { content: '\e84f'; } /* '' */
.icon-frasco1:before { content: '\e850'; } /* '' */
.icon-afn:before { content: '\e851'; } /* '' */
.icon-comprasonline:before { content: '\e852'; } /* '' */
.icon-distribuidor:before { content: '\e853'; } /* '' */
.icon-maquila:before { content: '\e854'; } /* '' */
.icon-camara-video:before { content: '\e855'; } /* '' */
.icon-reloj:before { content: '\e856'; } /* '' */
.icon-arrows-cw:before { content: '\e857'; } /* '' */
.icon-degustacion:before { content: '\e858'; } /* '' */
.icon-etiqueta:before { content: '\e859'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cc-diners-club:before { content: '\f24c'; } /* '' */
.icon-mastercard:before { content: '\f329'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
