.mainContacto {
  min-height: 70rem;
  background-color: var(--black);
  margin-top: 3rem;
  padding-inline: 2rem;
}

.tituloContacto {
  height: 20rem;
  
  display: flex;
  justify-content: center;
}
.title-box {
  display: flex;
  flex-direction: column;
}
.logoContacto {
  width: 20rem;
  height: 20rem;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.title-box figcaption {
  font-family: "Octin College Bold";
  color: var(--white);
  font-size: 1.5em;
}

.contactContainer {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  padding: 3%;
}

.datosContacto {
  width: 577px;
  height: 621px;
  margin: auto;
  background: url("./../../../assets/img/etc/cuadro.png") no-repeat center;
  padding: 130px 0 0 73px;
}

.datosContacto a {
  text-decoration: none;
  display: inline-block;
  margin-left: 14%;
  margin-bottom: 15px;
  color: var(--white);
  font-family: "Octin College Bold";
  line-height: 20px;
  display: flex;
}

.datosContacto a i {
  height: 60px;
  display: block;
  text-align: center;
  line-height: 60px;
  color: var(--white);
  font-size: 24px;
  border-radius: 6px;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .datosContacto {
    margin: auto;
    background: url("./../../../assets/img/etc/cuadro.png") no-repeat center;
    background-size: cover;
    padding: 130px 0 0 63px;
    margin-top: 35px;
  }
  .logoContacto {
    width: 14rem;
    height: 14rem;

  }
  .title-box figcaption {
    padding-top: 3em;
    font-size: 1.2em;
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .datosContacto {
    background: url("./../../../assets/img/etc/cuadro2.png") no-repeat center;
    padding: 130px 0 0 13px;
  }
  .logoContacto {
    width: 14rem;
    height: 14rem;

  }
  .title-box figcaption {
    padding-top: 3em;
    font-size: 1.1em;
    text-align: center;
  }
}
